.form {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  width: 100%;
  max-width: 40rem;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 2rem;
  background-color: transparent;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form > .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 1024px) {
  .form {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
