.container {
  position: relative;
  height: 5rem;
}

.container label {
  font-size: inherit;
  color: var(--text-color);
  position: absolute;
  left: 1rem;
  transform: translateY(-50%);
  padding: 0 0.5rem;
  background-color: var(--bg-color);
  z-index: 1;
}

.select {
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  height: 100%;
  padding: 1.5rem;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  outline: none;
  transition: border-color 0.2s;
}

.select:focus {
  border-color: var(--secondary-color);
}

.error {
  border-color: var(--error-color);
  color: var(--error-color);
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
