.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container svg {
  width: 80%;

  height: min-content;
  margin: 3rem;
}

@media (min-width: 1024px) {
  .container svg {
    max-height: 60rem;
  }
}
