:root {
  --text-color: #02121c;
  --primary-color: #4d93c2;
  --secondary-color: #b4ddf8;
  --accent-color: #0d5c91;
  --opacity-color: rgb(15, 107, 169, 0.3);
  --bg-color: #d0eafb;
  --error-color: #d8000c;
  --text-primary-heading-size: clamp(2.6rem, 5vw, 4.2rem);
  --text-secondary-headings-size: clamp(2.2rem, 5vw, 2.8rem);
  --text-size: clamp(1.6rem, 3vw, 2rem);
  --text-size-projects: clamp(1.4rem, 3vw, 1.8rem);
  --border-radius: 5px;
  --box-shadow: -5px 10px 15px 5px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  cursor: default;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

svg,
img {
  display: block;
}

section {
  padding: 5rem 4rem;
}

button {
  font-family: inherit;
}

.show {
  animation: show 0.3s linear backwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
