.table {
  font-size: var(--text-size-projects);
  color: var(--text-color);
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-spacing: 0;
  box-shadow: -1px 10px 30px -20px rgba(66, 68, 90, 1);
}

.table caption {
  font-size: var(--text-size);
  margin-bottom: 1rem;
}

.table th:first-child {
  border-top-left-radius: var(--border-radius);
}

.table th:last-child {
  border-top-right-radius: var(--border-radius);
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.table thead {
  margin-bottom: 1rem;
}

.table thead tr {
  background-color: var(--primary-color);
  margin: 1rem;
}

.table th {
  padding: 1rem 0.5rem;
}

.table td {
  padding: 0 0.5rem;
}

.table td:nth-of-type(2),
.table th:nth-of-type(2) {
  text-align: left;
}

.body tr:nth-child(2n) {
  background-color: var(--secondary-color);
}

.footer tr > td {
  padding-bottom: 1rem;
}

.full,
.table td:nth-of-type(2) {
  width: 100%;
  word-break: break-word;
}

.nowrap {
  white-space: nowrap;
}

.right-align {
  text-align: right;
}

.new-element-container {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

@media (min-width: 375px) {
  .table th {
    padding: 1rem;
  }

  .table td {
    padding: 0 1rem;
  }
}
