.table {
  font-size: var(--text-size-projects);
  color: var(--text-color);
  width: 100%;
  max-width: 140rem;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
}

.table caption {
  font-size: var(--text-size);
  margin-bottom: 1rem;
}

.table thead {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--text-color);
}

.table th {
  padding: 0.5rem 0.25rem;
}

.table td {
  padding: 0.25rem 0.25rem;
}

.body tr:nth-child(2n + 1) {
  background-color: var(--opacity-color);
}

.full,
.table td:nth-of-type(2) {
  width: 100%;
  word-break: break-word;
}

.nowrap {
  white-space: nowrap;
}

.right-align {
  text-align: right;
}

.new-element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

@media (min-width: 375px) {
  .table th {
    padding: 0.5rem 0.5rem;
  }

  .table td {
    padding: 0.25rem 0.5rem;
  }
}

@media (min-width: 576px) {
  .table th {
    padding: 0.5rem 1rem;
  }
}
