.button {
  font-family: inherit;
  font-size: var(--text-size);
  color: var(--text-color);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0.25rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  cursor: pointer;
  outline: none;
}

.table {
  font-size: var(--text-size-projects);
  padding: 1rem;
}

.accent {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.button:hover,
.button:focus-visible {
  color: var(--bg-color);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

td > .button:has(svg) span {
  display: none;
}

.button svg {
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.button:has(svg) > span {
  margin-left: 0.5rem;
}

@media (min-width: 320px) {
  .button {
    margin: 0.5rem;
  }
}

@media (min-width: 576px) {
  .button {
    margin: 1rem;
  }
}

@media (min-width: 640px) {
  td > .button:has(svg) span {
    display: block;
  }
}
