.header {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  animation: show 1s linear 1s backwards;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav div {
  display: flex;
}

@media (min-width: 640px) {
  .nav {
    padding: 2rem 4rem;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
