body:not([data-theme='dark']) .waves {
  position: absolute;
  min-height: 100vh;
  inset: 0;
  background-image: url(/assets/svg/blob.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
