.navlink {
  font-size: var(--text-size);
  color: var(--text-color);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem 0.75rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  white-space: nowrap;
}

.project-navbar-link {
  font-size: var(--text-size-projects);
  padding: 1rem;
  margin: 0rem 1rem;
}

.accent {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.navlink:hover,
.navlink:focus {
  color: var(--bg-color);
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.navlink > svg {
  margin-right: 1rem;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: var(--text-size);
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logo svg {
  height: 4rem;
  aspect-ratio: 1/1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: var(--text-size);
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logo p {
  display: none;
}

.logo svg {
  height: 4rem;
  aspect-ratio: 1/1;
}

.active {
  font-weight: bold;
}

@media (min-width: 360px) {
  .logo p {
    display: block;
  }
}

@media (min-width: 640px) {
  .navlink {
    padding: 2rem;
    margin: 1rem;
  }

  .project-navbar-link {
    padding: 1rem 2rem;
  }
}
